<div data-ng-controller="TriggerListController">
	<div class="row wrapper border-bottom white-bg page-heading">
		<div class="col-lg-12">
			<h2><i class="fa fa-desktop"></i> 模板管理</h2>
			<ol class="breadcrumb">
				<li>
					<a data-ui-sref="monitor">首页</a>
				</li>
				<li>
					<a>监控</a>
				</li>
				<li>
					<a data-ui-sref="template">模板</a>
				</li>
				<li class="active">
					<strong>{{template.host}}</strong>
				</li>
			</ol>
		</div>
	</div>
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5><i class="glyphicon glyphicon-list"></i></h5>
						<div class="ibox-tools">
							<a class="collapse-link">
								<i class="fa fa-chevron-up"></i>
							</a>
							<a class="close-link">
								<i class="fa fa-times"></i>
							</a>
						</div>
					</div>
					<div class="ibox-content">
						<div class="row">						
							<div class="col-sm-6 m-b-xs">																
							</div>
							<div class="col-sm-4">
	                            <div class="input-group">
									<input type="text" class="input-sm form-control" data-ng-model="param" data-ng-keyup="search()" placeholder="Search by name" />
									<span class="input-group-btn">
										<button type="button" class="btn btn-sm btn-primary"> Go!</button>
									</span>
								</div>
							</div>
							<div class="col-sm-2 m-b-xs">
								<span class="input-group-btn">
									<button class="btn btn-sm btn-primary" type="button" data-toggle="modal" data-target="#addTriggerModal">添加触发器</button>
								</span>
							</div>																	
	                    </div>
						<div class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr>								
										<th>序号</th>
										<th>名称</th>
										<th>状态</th>										
									</tr>
								</thead>
								<tbody>							 
									<tr data-ng-repeat="trigger in triggers">
										<td>{{$index + 1}}</td>
										<td><a href="#" data-ng-click="toTrigger(template.id)">{{trigger.description}}</a></td>
										<td>
											<span data-ng-show="trigger.status == '0'" style="color: #00EC00;">已启用</span>
											<span data-ng-show="trigger.status == '1'" style="color: #FF6600;">停用的</span>									
										</td>									
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="addTriggerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content animated bounceInRight">
				<div class="modal-header">
		            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">
						添加触发器
					</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label for="priority" class="col-sm-2 control-label">请选择监控项：</label>
							<div class="col-sm-10">
								<select style="width: 300px; height:34px;" ng-model="item" ng-options="item for item in items" ng-change="change2()">
					            </select>
							</div>
						</div>	
						<div class="form-group">
							<label for="name" class="col-sm-2 control-label">名称</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="name" data-ng-model="trigger.name" placeholder="demo: Processor load is too high on {HOST.NAME}"/>
							</div>
						</div>				
						<div class="form-group">
							<label for="ip" class="col-sm-2 control-label">表达式</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="expression" data-ng-model="trigger.expression" placeholder="{<server>:<key>.<function><parameter>}<operator><constant>"/>
							</div>
						</div>												
						<div class="form-group">
							<label for="sn" class="col-sm-2 control-label">描述</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="description" data-ng-model="trigger.description" placeholder="description of the trigger"/>
							</div>
						</div>
						<div class="form-group">
							<label for="sn" class="col-sm-2 control-label">URL</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="url" data-ng-model="trigger.url" placeholder="url"/>
							</div>
						</div>
						<div class="form-group">
							<label for="priority" class="col-sm-2 control-label">等级</label>
							<div class="col-sm-10">
								<select class="form-control" name="priority" id="priority" data-ng-model="trigger.priority">
									<option value="0">未分类</option>
									<option value="1">资讯</option>
									<option value="2">警告</option>
									<option value="3">一般严重</option>
									<option value="4">严重</option>
									<option value="5">灾难</option>
								</select>
							</div>
						</div>					
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-sm btn-primary" data-ng-click="addTrigger()">提交</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
function TriggerListController($scope, $http, $stateParams) {		       
    getTriggerList($stateParams.id);
    function getTriggerList(hostid){
        $http({
			method: 'GET',
			url: 'r/alert/trigger',
			params: {'hostid': hostid}
		}).success(function(data){
			$scope.triggers = data;
		}).error(function(data){
			console.log(data);
		});
    }
    getTemplate($stateParams.id);    
    function getTemplate(id){
		$http({
			method: 'GET',
			url: 'r/template',
			params: {'templateid':id}
		}).success(function(data){
			$scope.template =data;
		}).error(function(data){
			console.log(data);
		});
	}	
    $scope.search = function() {
		$http({
			method: 'GET',
			url: 'r/alert/search',
			params: {'param': $scope.param,'templateid': $stateParams.id}
		}).success(function(data){
			$scope.triggers = data;
		}).error(function(data){
			console.log(data);
		});
	}
	getItem($stateParams.id);    
	function getItem(templateid){
		$http({
		method: 'get',
		url: 'r/alert/item',
		params: {'name':templateid}
		}).success(function(data){
			$scope.items = data;
			$scope.item =$scope.items[0];				
		}).error(function(data){
			console.log(data);
		});
	}
    
    $scope.change2 =function(){
        document.getElementById("expression").value="{"+$scope.template.host+":"+$scope.item+".";
        
    }
	$scope.addTrigger =function(){
    	$http({
    		method: 'POST',
    		url   : 'r/alert/add',
    		params: {'trigger':$scope.trigger}
    	}).success(function(data){
    		if(data != null){
    			swal("", "添加触发器成功！触发器ID："+data, "");
    			$('#addTriggerModal').modal('hide');
    		}
    	}).error(function(data){
			console.log(data);
		});
    }		
}
</script>
