<div data-ng-controller="TaskDataListController">
	<div class="row wrapper border-bottom white-bg page-heading">
		<div class="col-lg-12">
			<h2><i class="fa fa-server"></i> 执行任务</h2>
			<ol class="breadcrumb">
				<li>
					<a data-ui-sref="monitor">首页</a>
				</li>
				<li>
					<a>项目与任务</a>
				</li>
				<li>
					<a data-ui-sref="project">项目</a>
				</li>
				<li>
					<a data-ui-sref="project_detail.task">执行用例</a>
				</li>
				<li class="active">
					<strong>执行任务</strong>
				</li>
			</ol>
		</div>
	</div>
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5><i class="glyphicon glyphicon-list"></i></h5>
						<div class="ibox-tools">
							<a class="collapse-link">
								<i class="fa fa-chevron-up"></i>
							</a>
							<a class="close-link">
								<i class="fa fa-times"></i>
							</a>
						</div>
					</div>
					<div class="ibox-content">
						<div class="row">
							<div class="col-lg-6" style="float: right;">
								<div class="input-group">
									<input type="text" class="input-sm form-control" data-ng-keyup="search()" data-ng-model="taskName" placeholder="Search in table" />
									<span class="input-group-btn">
										<button type="button" class="btn btn-sm btn-primary" data-ng-click="search()"> Go!</button>
									</span>
									<span class="input-group-btn" style="padding-left: 5px;">
										<button class="btn btn-sm btn-primary" type="button" data-toggle="modal" data-target="#addTaskDataModal" data-ng-click="loadTask()">添加任务</button>
									</span>
									<span class="input-group-btn" style="padding-left: 5px;">
										<button class="btn btn-sm btn-primary" type="button" data-ng-click="delTaskData()">删除任务</button>
									</span>
								</div>
							</div>
						</div>
						<div class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>#</th>
										<th>序号</th>
										<th>执行用例</th>
										<th>开始时间</th>
										<th>结束时间</th>
										<th>监控数据</th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="item in items">
										<td>
											<input data-icheck data-ng-model="iCheck" type="checkbox" name="selectId" value="{{item.id}}" />
										</td>
										<td>{{(currentPage - 1) * pageSize + $index + 1}}</td>
										<td>{{item.taskName}}</td>
										<td>{{item.startTime}}</td>
										<td>{{item.endTime}}</td>
										<td>
											<a href="#" data-ng-click="toMonitor(item.id)">查看数据</a>
											<a href="#" data-ng-click="persistent(item.id)" data-ng-if="item.path!='1'">获取数据</a>
										</td>
									</tr>
									
								</tbody>
								<tfoot>
									<tr>
										<td colspan="6" align="right">
											<uib-pagination total-items="totalItems" ng-model="currentPage" max-size="5" items-per-page="pageSize" previous-text="上一页" next-text="下一页" boundary-link-numbers="true" force-ellipses="true" ng-change="search()"></uib-pagination>
										</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- 	project 新建页面 -->
	<div class="modal fade" id="addTaskDataModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content animated bounceInRight">
				<form class="form-horizontal" role="form" data-ng-submit="addTaskData()">
					<div class="modal-header">
			            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">
							添加任务
						</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="sn" class="col-sm-2 control-label">选择任务用例</label>
							<div class="col-sm-10">
							<select id="task" class="form-control" data-ng-change="loadHost('addModel','')" 
								data-ng-model="taskData.taskId" data-ng-options="x.value as x.label for x in tasks"></select>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="col-sm-2 control-label">选择时间</label>
							<div class="col-sm-10">
							<input type="text" id="excuteTime" class="form-control" readonly="readonly"/>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-sm btn-primary">添加任务</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
function TaskDataListController($scope, $http, $stateParams, $state) {
	
	$scope.currentPage = 1;
	$scope.pageSize = 10;
	
	$scope.taskData = {};
	
	$scope.search = function() {
		$http({
			method: 'GET',
			url: 'r/taskData',
			params: {'taskName': $scope.taskName, 'taskId': $stateParams.id, 'currentPage': $scope.currentPage, 'pageSize': $scope.pageSize}
		}).success(function(data){
			console.log(data.result);
			$scope.items = data.result;
			$scope.totalItems = data.totalCount;
		}).error(function(data){
			console.log(data);
		});
	}
    
	//加载执行,展示项目列表
    $scope.search();
    
    //加载任务信息
    $scope.loadTask = function() {
		$http({
			method: 'GET',
			url: 'r/taskData/getTask',
			params:{'taskId': $stateParams.id}
		}).success(function(data) {
			if(data) {
				var temps = new Array();
				$.each(data, function(index, item) {
					obj = {
					    label : item.name,
					    value : item.id
					};
					temps.push(obj); //载入数组，之后会赋值给select,页面html循环加载
				});
				
				$scope.tasks = temps;
				$scope.taskData.taskId = temps[0].value;
			}
		}).error(function(data){
			console.log(data);
		});
		
	}
	
	//提交表单，新增新项目，传入参数$scope.taskData
	$scope.addTaskData = function() {
		$http({
			async: false,
			method: 'POST',
			url: 'r/taskData',
			params: {'taskData': $scope.taskData}
		}).success(function(data){
			if(data == '200') {
				$('#addTaskDataModal').modal('hide');
				//加载、清空
				$scope.search();
				$scope.taskData = {};
				// init startTime $ endTime
				var currentTime = getCurrentTime();
				var defStartDate = new Date(currentTime - (3600 * 1000)).Format("yyyy-MM-dd hh:mm");
				var defEndDate = new Date(currentTime).Format("yyyy-MM-dd hh:mm");
				$scope.taskData.startTime = defStartDate;
				$scope.taskData.endTime = defEndDate;
			}
		}).error(function(data){
			console.log(data);
		});
	}
	
	//通过遍历checkbox，提交后台删除选中项
	$scope.delTaskData = function() {
		$scope.ids = '';
		$("input[name='selectId']:checked").each(function() {
			$scope.ids += ',' + $(this).val();
		});
		
		if($scope.ids != '') {
			//弹框提示，确认后提交删除
			swal({
	            title: "确定删除?",
	            text: "确定删除该任务",
	            type: "warning",
	            showCancelButton: true,
	            confirmButtonColor: "#DD6B55",
	            cancelButtonText: "取消",
	            confirmButtonText: "删除",
	            closeOnConfirm: false
	        }, function () {
	        	$http({
	    			method: 'DELETE',
	    			url: 'r/taskData',
	    			params: {'ids': $scope.ids}
	    		}).success(function(data) {
	    			if(data == '200') {
	    				swal("Deleted!", "任务已删除.", "success");
	    				$scope.search();
	    			}
	    		}).error(function(data){
	    			console.log(data);
	    		});
	        });
		}else{
			swal("","请选择要删除的任务","warning");
		}
    }
	
	 // 跳转到任务页面
	$scope.toMonitor = function(task_id) {
		console.log("task_id "+task_id);
		$state.go('detailMonitor', {'task_id': task_id});
	}
	 
	$scope.persistent = function(task_id){
		 
		 $http({
			 url: 'r/taskData/obtainTaskMonitor2DB',
			 method: 'GET',
			 params: {
				 'task_id':task_id
			 }
		 }).success(function(data){
			 if(data==1){
				 swal("监控数据持久化成功！");
				 $scope.toMonitor(task_id);
			 }else{
				 swal("监控数据获取失败！");
			 }
		 })
		 
	 }
	 
	/*
	$http({
			method: 'GET',
// 			url: 'r/taskData/detailMonitor',
			url: 'r/taskData/obtainTaskMonitor2DB', 
			params: {'task_id':$stateParams.task_id}
// 			params:{'taskId': $stateParams.taskData.taskId, detailMonitor
// 					'startTime'$stateParams.taskData.startTime,
// 					'endTime':$stateParams.taskData.endTime}
	}).success(function(data) {
			console.log("This data is ");
			console.log(data);
			$scope.items = data;
    });
	*/
	
	// init startTime $ endTime
	var currentTime = getCurrentTime();
	var defStartDate = new Date(currentTime - (3600 * 1000)).Format("yyyy-MM-dd hh:mm");
	var defEndDate = new Date(currentTime).Format("yyyy-MM-dd hh:mm");
	$scope.taskData.startTime = defStartDate;
	$scope.taskData.endTime = defEndDate;
	
	$('#excuteTime').daterangepicker({
		timePicker: true,
		timePicker24Hour: true,
		autoUpdateInput: true,
		showDropdowns: true,
		timePickerIncrement: 1,
		startDate: defStartDate,
		endDate: defEndDate,
		locale: {
            format: 'YYYY-MM-DD HH:mm'
        }
	}, function(start, end, label) {
		$scope.taskData.startTime = start.format('YYYY-MM-DD HH:mm');
		$scope.taskData.endTime = end.format('YYYY-MM-DD HH:mm');
	});
	
	function getCurrentTime(){
		return new Date().getTime();
	}
	
	
}
</script>
