<div class="tab-pane animated fadeIn active" data-ng-controller="MachineInfoController">
	<div class="panel-body" style="overflow:auto;">
		<table class="table table-striped">
			<tbody>
				<tr>
					<th rowspan='2' style="vertical-align:middle;">服务器地址</th>
					<th colspan='5'>CPU使用情况</th>
					<th colspan='3'>磁盘使用情况</th>
					<th colspan='2'>网络使用情况</th>
					<th colspan='2'>内存使用情况</th>
				</tr>
				<tr>
					<td><a href="#" data-ng-click="getGraph('all','CPU_user_time')">User%</a></td>
					<td><a href="#" data-ng-click="getGraph('all','CPU_system_time')">Sys%</a></td>
					<td><a href="#" data-ng-click="getGraph('all','CPU_iowait_time')">Wait%</a></td>
					<td><a href="#" data-ng-click="getGraph('all','CPU_idle_time')">Idle%</a></td>
					<td><a href="#" data-ng-click="getGraph('all','CPU_user_time')">CPU%</a></td>
					<td>Disk Read KB/s</td>
					<td>Disk Write KB/s</td>
					<td>IO/sec</td>
					<td>en0-reads KB/s</td>
					<td>en0-writes KB/s</td>
					<td>swaptotal MB</td>
					<td>Memfree MB</td>
				</tr>
				<tr data-ng-repeat="item in items">
					<td>{{item.hostIP}}</td>
					<td><a href="#" data-ng-click="getGraph(item.hostId,'CPU_user_time')">{{item.CPU_user_time}}</a></td>
					<td><a href="#" data-ng-click="getGraph(item.hostId,'CPU_system_time')">{{item.CPU_system_time}}</a></td>
					<td><a href="#" data-ng-click="getGraph(item.hostId,'CPU_iowait_time')">{{item.CPU_iowait_time}}</a></td>
					<td><a href="#" data-ng-click="getGraph(item.hostId,'CPU_idle_time')">{{item.CPU_idle_time}}</a></td>
					<td>item.DISK.Free_disk_space_on_\</td>
					<td>item.DISK.Free_disk_space_on_\</td>
					<td>{{IO}}</td>
					<td>3</td>
					<td>3</td>
					<td>3</td>
					<td><a href="#" data-ng-click="getGraph(item.hostId,'Total_swap_space')">{{item.Total_swap_space}}</a></td>
					<td><a href="#" data-ng-click="getGraph(item.hostId,'Available_memory')">{{item.Available_memory}}</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	
<!-- 	图表显示 -->
	<div class="tab-pane animated fadeIn active">
		<div class="panel-body">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><span class="glyphicon glyphicon-stats"></span> 趋势图</h3>
				</div>
				<div class="input-prepend input-group">
					<span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
					<input type="text" style="width: 300px;" id="dateRange" class="form-control" readonly="readonly"/>
				</div>
				<div class="panel-body" data-ng-controller="MachineNetworkController">
					<div id="workChart" style="height:400px;"></div>
				</div>
			</div>
		</div>
	</div>
	
	
</div>

<script type="text/javascript" src="js/main/taskGraph.js"></script>
<script type="text/javascript">
function MachineInfoController($scope, $http, $stateParams) {
	console.log($stateParams.task_id);
	$http({
			method: 'GET',
			url: 'r/taskData/detailMonitor',
			params: {'task_id':$stateParams.task_id}
	}).success(function(data) {
			console.log("This data is ");
			console.log(data);
			$scope.items = data;
    });
	
	
	$scope.getGraph = function(hostId,type){
		console.log($stateParams.task_id);
		//显示图表数据
		var params = {
				taskId: $stateParams.task_id,
				graphDiv: 'workChart',
				title: type,
				key: type,
				hostId: hostId,
				graphType: 'line',
				formatter: 'kbps',
				scaler: 1024,
				dateRangeId: 'dateRange'
		};
		
		DataGraph(params);
	}
	
}

</script>